*__pycache__*
/venv/
venv/
datasets/

*.rar
*.csv
*.docx
*.feather
*.parquet
*.parquet
*catboost_info/*
*tuning_results_*.txt
# *.xlsx
scratch.py
combined_df_cleaned.parquet
saved_multiclass_models/*
scratch.py
scratch3.py
scripts_tuning/catboost_info/*
source_datasets/*
